apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: node-feature-discovery-operator-tls
  labels:
    control-plane: controller-manager
  name: controller-manager-metrics-service
  namespace: openshift-nfd
spec:
  ports:
  - name: https
    port: 8443
    targetPort: https
  selector:
    control-plane: controller-manager

